# ***Прогресс***

☑ Основные функции

☑ Функции для превращения в определенные типы данных

☑ Арифметические операции

☑ Логические операции

☑ Условный оператор

☑ Цикл for (Ещё потренироваться, поговорить про красивый вывод в табличку)

☑ Операции c последовательностями

☑  Срезы (Ещё раз поговорить про отрицательные параметры, [::-1], [-a:-b:+-1])

☑ Функции

☑ Списки
.remove() 
.count() 
.index() 
.extend()  - поговорить про extend

❌ Методы строк
.split() 
.join() 
.find() и .rfind()
.lower() 
.upper() 
.strip()

☑ Множества

❌ Словари


❌ Работа с файлом

# ***Занятие 29.09***

# Разминочная задачка (Похожая на задача 21)
Напишите программу, принимающую на вход целое число, которая выводит True, если переданное значение попадает в интервал (−15,12] ∪ (14,17) ∪ [19,+∞) и False в противном случае (регистр символов имеет значение).

Sample Input 1:

20
Sample Output 1:

True
Sample Input 2:

-20
Sample Output 2:

False

In [ ]:
a = int(input())
if (....):
    print(...)
else:
    print(...)

Задача 22

In [ ]:
#Про университеты
listt = [[1,3,4],[2,4,3],[2,3,4]]

In [ ]:
def check_gpa(lst,n):
  for mini_lst in lst:
    if sum(mini_lst)/len(mini_lst) > n:
      final = 'True'
    else:
      final = 'False'
  if final == 'True':
    return True
  else:
    return False

In [ ]:
check_gpa(listt, 3)

False

In [ ]:
type(check_gpa(listt, 1))

bool

Задача 23

Пример считывания в список

In [ ]:
# получим объект файла
file1 = open("22.txt", "r")
Spisok = []
while True:
    # считываем строку
    line = file1.readline()
    Spisok.append(line.strip())
    # прерываем цикл, если строка пустая
    if not line:
        break
    # выводим строку
    print(line.strip())

# закрываем файл
file1.close

Msk
Piter
Msk
Msk
AAA

In [ ]:
print(Spisok)

['', 'AAA', 'Msk', 'Msk', 'Msk', 'Piter']

In [ ]:

Spisok = sorted(Spisok)
maxcount = Spisok.count(Spisok[0])
current_count = Spisok.count(Spisok[0])
Gorod = Spisok[0]
for i in range(1,len(Spisok)):
  current_count = Spisok.count(Spisok[i])
  if Spisok[i]!=Spisok[i-1]:
    if current_count > maxcount:
      maxcount = current_count
      Gorod = Spisok[i]

print(Gorod, maxcount, sep = ' ')

Msk 3

Доделываем сортировку пузырьком в 2 вложенных цикла с вчерашнего занятия

In [ ]:
from random import randint
N = 10
a = []
for i in range(N):
    a.append(randint(1, 99))
 
print(a)

[44, 5, 62, 13, 85, 61, 22, 75, 56, 8]

In [ ]:
def bubble(array):
    for i in range(N-1):
        for j in range(N-i-1):
            if array[j] > array[j+1]:
                buff = array[j]
                array[j] = array[j+1]
                array[j+1] = buff

In [ ]:
#print(bubble(a)) - что выведет? почему? на что похоже?
#print(sorted(a)) - почему тут по-другому?
#print(a.sort())
print(type(a))

<class 'list'>

# ТУТ a - СПИСОК!!!!

In [ ]:
print(bubble(a))
print(sorted(a))
print(a.sort())
print(a)

# ТУТ s - СТРОКА!!!

In [ ]:
s = '123412'

In [ ]:
print(s)
print(type(s))

123412
<class 'str'>

In [ ]:
#print(sorted(s)) - как будет работать функция sorted для строки?
#print(s.sort()) - как будет работать метод sort

In [ ]:
s = '123412'
print(type(s))
print(type(sorted(s))) #взяли строку - ВЕРНУЛИ список
print(s)
s = sorted(s) #НЕ изменяем строку, а создаём НОВЫЙ объект - список, с таким же именем s
print(s)
print(type(s))

Ещё раз разница!

In [ ]:
X = 'ABCADAE'
print(sorted(X,reverse=True))
#print(X.sort()) - НЕЛЬЗЯ

['E', 'D', 'C', 'B', 'A', 'A', 'A']

In [ ]:
Y = ['A','B','C','A','D','A','E']
print(sorted(Y,reverse=True))
Y = ['A','B','C','A','D','A','E']
print(Y)
Y.sort(reverse=True)
print(Y)

['E', 'D', 'C', 'B', 'A', 'A', 'A']
['A', 'B', 'C', 'A', 'D', 'A', 'E']
['E', 'D', 'C', 'B', 'A', 'A', 'A']

# Вывод

X.sort() - метод, который не создает новой коллекции, а меняет уже существующую. 
Строка не изменяемый тип, поэтому, применяем ТОЛЬКО к списку 
Функция же sorted(X) НЕ меняет исходную коллекцию, а создает новую с отсортированными элементами

# ***Методы строк***

.split()

.split() разбивает строку по пробельным символам (в качестве аргумента можно задать свой разделитель)
string.split(separator*, maxsplit*)
Параметр separator — необязательный, но он позволяет задать разделитель
вручную.
Параметр maxsplit определяет максимальное количество разделений. Значение по
умолчанию — -1, будут выполнены все разделения.

In [ ]:
names = 'Olya, Anya, Petya'.split(', ') # разбиваем строку с именами по ', '

In [ ]:
print(type('Olya, Anya, Petya')) #Была строка
print(type(names)) #Стал список
print(names) #Вот такой

<class 'str'>
<class 'list'>
['Olya', 'Anya', 'Petya']

Разделение сроки по пробелу
Если не передать параметр разделителя, то .split() выполнит разделение по пробелу.

In [ ]:
my_st = "Пример строки Python"
print(my_st.split())

['Пример', 'строки', 'Python']

Метод str.split() позволяет удалять части строк

In [ ]:
dummy = "This is a dummy string."
print(dummy.split("s"))
print(dummy.split("i"))

['Thi', ' i', ' a dummy ', 'tring.']
['Th', 's ', 's a dummy str', 'ng.']

# ВОПРОС

Почему так получается??

------------------------------------------------------------------------

Разделение строк по нескольким разделителям
В Python можно использовать даже несколько разделителей. Для этого просто требуется передать несколько символов в качестве разделителей функции split.

Возьмем в качестве примера ситуацию, где разделителями выступают одновременно : и ,. Задействуем функцию re.split()

In [ ]:
import re #Подключаем модуль регулярных выражений. Регулярные выражения — специальная последовательность 
#символов, которая помогает сопоставлять или находить строки 
#python с использованием специализированного синтаксиса, содержащегося в шаблоне

my_st = "Я\nучу; язык,программирования\nPython"
print(re.split(";|,|\n", my_st))

['Я', 'учу', ' язык', 'программирования', 'Python']

 .join()

Метод str.join(string) собирает строку string с разделителем str.

In [ ]:
dummy = "This is a dummy string."

In [ ]:
print(" ".join(dummy))

T h i s   i s   a   d u m m y   s t r i n g .

Собирает из списка обратно строку!

In [ ]:
print(",".join(["8host", "blog", "hosting"]))

8host,blog,hosting

In [ ]:
print(type(["8host", "blog", "hosting"]))
print(type(",".join(["8host", "blog", "hosting"])))

<class 'list'>
<class 'str'>

 .find()

Метод str.find() возвращает индекс первого совпадения подстроки sub в строке str, где подстрока или символ sub находится в пределах среза str[start:end]

In [ ]:
x = 'раз два три раз два три раз'
x.find('раз')

0

In [ ]:
type(x)

str

In [ ]:
len(x)

27

In [ ]:
x.find('раз', 10, 23)

12

Почему так?

In [ ]:
x.find('четыре')

Что выведет?

.rfind()

![image.png]()

.strip()

Удаляет начальные и конечные символы в строке.
Синтаксис:
str.strip([chars])
Параметры:
chars - строка, набор удаляемых символов.
Возвращаемое значение:
измененная копия строки.

Метод str.strip() вернет копию строки str с удаленными начальными и конечными символами chars. Другими словами, обрежет строку str с обоих концов

In [ ]:
'   stroka   '.strip()

'stroka'

In [ ]:
a = '111 OGO 111'
print(a)
print(a.strip('111'))

111 OGO 111
 OGO

Чему равно len(a.strip('111'))?? (не 3)

In [ ]:
'www.example.com'.strip('cmowz.')

'example'

# Множества

In [ ]:
my_pets_list = {'кошка', 'рыбка', 'шиншилла', 'ужик'}
friend_pets_list = {'собака', 'питон', 'ужик', 'кошка', 'хамелеон'}

# объединение -- элементы, которые входят хотя бы в одно множество
print(my_pets_list | friend_pets_list) 

# пересечение -- элементы, которые входят в оба множества
print(my_pets_list & friend_pets_list) 

# разность: входят в my_pets_list, но не входят в  friend_pets_list
print(my_pets_list - friend_pets_list) 

# разность: входят в friend_pets_list, но не входят в my_pets_list
print(friend_pets_list - my_pets_list) 

# симметрическая разность: входят в одно из множества, но не в оба сразу
print(my_pets_list ^ friend_pets_list)

{'рыбка', 'шиншилла', 'кошка', 'хамелеон', 'собака', 'питон', 'ужик'}
{'ужик', 'кошка'}
{'рыбка', 'шиншилла'}
{'хамелеон', 'собака', 'питон'}
{'рыбка', 'шиншилла', 'хамелеон', 'собака', 'питон'}

# Словари

Словарь (dict) — одна из структур, которая хранит данные в формате пар ключ-значение. Получить доступ к значениям словаря Python можно с помощью ключей.

Важно!!
Данные, представляющие собой ключ словаря, должны быть уникальны внутри множества ключей этого словаря. Проще говоря, **не должно быть двух одинаковых ключей**;

**Ключ должен быть объектом неизменяемого типа**, то есть строкой, числом или кортежем. Если говорить строже, то объект содержащий ключ должен быть hashable. То есть иметь хеш-значение, которое не меняется в течение его жизненного цикла;

**На значения нет никаких ограничений**. Максимальный уровень свободы. Они не обязаны быть ни уникальными, ни неизменяемыми, поэтому могут себе позволить быть какими угодно.

In [ ]:
eng_rus = {'apple': 'яблоко', 'hello': 'привет', 'world': 'мир'}

print(eng_rus['apple']) # обращаемся к значению "яблоко" по его ключу - apple
eng_rus['hello'] = 'здравствуйте' # перезаписываем значение ключа
print(eng_rus) # печатаем измененный словарь
del eng_rus['world'] # удаляем пару ключ:значение
print(eng_rus) # печатаем измененный словарь
eng_rus['python'] = 'питон' # создаем новую пару ключ-значение
print(eng_rus) # печатаем измененный словарь

яблоко
{'apple': 'яблоко', 'hello': 'здравствуйте', 'world': 'мир'}
{'apple': 'яблоко', 'hello': 'здравствуйте'}
{'apple': 'яблоко', 'hello': 'здравствуйте', 'python': 'питон'}

In [ ]:
Методы словарей в Python
Перечислим основные словарные методы, которые помогут вам при работе с этим типом данных.

clear() – очищает заданный словарь, приводя его к пустому.
get() – отдаёт значение словаря по указанному ключу. Если ключ не существует, а в качестве дополнительного аргумента передано значение по умолчанию, то метод вернет его. Если же значение по умолчанию опущено, метод вернет None.
items() – возвращает словарные пары ключ:значение, как соответствующие им кортежи.
keys() – возвращает ключи словаря, организованные в виде списка.
values() – подобным образом, возвращает список значений словаря.
pop() – удалит запись словаря по ключу и вернет её значение.
popitem() – выбрасывает пару ключ:значение из словаря и возвращает её в качестве кортежа. Такие пары возвращаются в порядке LIFO.
update() – реализует своеобразную операцию конкатенации для словарей. Он объединяет ключи и значения одного словаря с ключами и значениями другого. При этом если какие-то ключи совпадут, то результирующим значением станет значение словаря, указанного в качестве аргумента метода update.
copy() – создает полную копию исходного словаря.

In [ ]:
#Примеры

In [ ]:
# clear()
farewell_dict = {'a': 'word', 'b': 3, 'c': 'x', 'd': 1, 'e': 12}
farewell_dict.clear()
print(farewell_dict)

# get()
seasons = {'winter': 'cold', 'summer': 'hot', 'autumn': 'cold'}
print(seasons.get('winter', 'Такого ключа в словаре нет'))


seasons_2 = {'spring': 'warm'}
print(seasons_2.get('nonexistent_key', 'Этот ключ отсутствует'))


seasons_3 = {'winter': 'surprice_warm'}
print(seasons_3.get('nonexistent_key'))

# items()
pairs_dict = {'41': 41, '42': 42, '43': 43}
print(pairs_dict.items())

# keys()
promo_dict = {'modelA': 100000, 'modelB': 300000, 'modelC': 120000}
print(promo_dict.keys())

# values()
palette = {'color1': 'red', 'color2': 'white', 'color3': 'purple'}
print(palette.values())

# pop()
id_dict = {'Alex': 101546, 'Rachel': 116453, 'Johanna': 144172}
print(id_dict.pop('Alex'))
print(id_dict)

# popitem()
another_dict = {'t': 16, 'g': 53, 'y': 112, 'h': 23}
print(another_dict.popitem())
print(another_dict)

# update()
first_dictionary = {'p': 55, 'o': 44, 'i': 33}
second_dictionary = {'l': 22, 'k': 11, 'p': 'changed'}
first_dictionary.update(second_dictionary)
print(first_dictionary)

# copy()
some_dict = {'z': 1, 'x': 3, 'v': 12, 'n': 33}
copy_dict = some_dict.copy()
print(copy_dict)

{}
cold
Этот ключ отсутствует
None
dict_items([('41', 41), ('42', 42), ('43', 43)])
dict_keys(['modelA', 'modelB', 'modelC'])
dict_values(['red', 'white', 'purple'])
101546
{'Rachel': 116453, 'Johanna': 144172}
('h', 23)
{'t': 16, 'g': 53, 'y': 112}
{'p': 'changed', 'o': 44, 'i': 33, 'l': 22, 'k': 11}
{'z': 1, 'x': 3, 'v': 12, 'n': 33}

In [ ]:
numbers = [5,7,30]
print(f'Минимум списка {numbers}: {min(numbers)}')
print(f'Максимум списка {numbers}: {max(numbers)}')
print(f'Сумма списка {numbers}: {sum(numbers)}')

Минимум списка [5, 7, 30]: 5
Максимум списка [5, 7, 30]: 30
Сумма списка [5, 7, 30]: 42

In [ ]:
fruits = ['apple', 'Яблоко', 'Апельсин', 'Orange', 'манго']
print(sorted(fruits)) # сортировка строк без ключа (регистр не игнорируется)
print(sorted(fruits, key=str.lower)) # сортировка строк с ключом (регистр игнорируется)

['Orange', 'apple', 'Апельсин', 'Яблоко', 'манго']
['apple', 'Orange', 'Апельсин', 'манго', 'Яблоко']

# Задача

посчитаем. сколько раз каждая буква встречается в тексте


twister = 'two toads terribly tired trotted along the road said toad number one to the toad number two'

In [ ]:
twister = 'two toads terribly tired trotted along the road said toad number one to the toad number two'
letters = ''.join(twister.split()) # избавляемся от пробелов
stats = {} # создаем пустой словарь для подсчета
for l in letters:
    if l not in stats:
        stats[l] = 1
    else:
        stats[l] += 1
        
print(stats)

{'t': 13, 'w': 2, 'o': 10, 'a': 6, 'd': 7, 's': 2, 'e': 8, 'r': 7, 'i': 3, 'b': 3, 'l': 2, 'y': 1, 'n': 4, 'g': 1, 'h': 2, 'u': 2, 'm': 2}

# Работа с файлом

In [ ]:
# считываем текст из файла в строку, способ 2

with open('text_file.txt', encoding='UTF-8') as infile:
    text = infile.read()

print(text)

FileNotFoundError: ignored

In [ ]:
# считываем строки из файла в список, способ 2

lines = [] # создаем пустой список
with open('text_file.txt', encoding='UTF-8') as infile:
    lines = infile.readlines()

# обратите внимание, в этом способе сохранился знак перехода на новую строку 
# и надо будет его почистить позже, если это важно для задачи    
print(lines)

FileNotFoundError: ignored

In [ ]:
# запись в файл -- создается новый файл (или затирается старый с таким же именем) и записываются данные

important_text = 'Это очень важный текст. В нем даже несколько строк. \nОни отделены переносом строки.'
with open('info.txt', 'w', encoding='UTF-8') as outfile:    # открываем файл, указываем, что это файл для записи: 'w', можем явно указать кодировку
    print(important_text, file=outfile)

In [ ]:
# дозапись в файл -- открывается существующий файл и в его конец дозаписывается текст

important_text_3 = 'Это третий важный текст. Надеемся, что он запишется после второго'
with open('info.txt', 'a', encoding='UTF-8') as outfile: # открываем тот же файл, указываем, что это файл для ДОзаписи: 'a' (append)
    print(important_text_3, file=outfile)